# Customer Churn Analysis â€“ Day 1

## Objectives:
- Understand business problem (churn)
- Revise Python & Pandas basics
- Prepare project foundation

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# Creating a DataFrame using pandas
data = {
    "CustomerID": [1, 2, 3],
    "MonthlyCharges": [70, 85, 60],
    "Churn": ["No", "Yes", "No"]
}

df = pd.DataFrame(data)
df

   CustomerID  MonthlyCharges Churn
0           1              70    No
1           2              85   Yes
2           3              60    No

In [6]:
# Basic Exploration
df.head()

   CustomerID  MonthlyCharges Churn
0           1              70    No
1           2              85   Yes
2           3              60    No

In [8]:
df.shape

(3, 3)

In [9]:
df.info

<bound method DataFrame.info of    CustomerID  MonthlyCharges Churn
0           1              70    No
1           2              85   Yes
2           3              60    No>

In [15]:
df.describe()

       CustomerID  MonthlyCharges
count         3.0        3.000000
mean          2.0       71.666667
std           1.0       12.583057
min           1.0       60.000000
25%           1.5       65.000000
50%           2.0       70.000000
75%           2.5       77.500000
max           3.0       85.000000

In [16]:
df.columns

Index(['CustomerID', 'MonthlyCharges', 'Churn'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)